<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "person" class = "com.enjoy.cap1.Person">
        <property name="name" value = "lisan"></property>
        <property name="age" value = "20"></property>
    </bean>

    <bean id = "bird" class="com.enjoy.cap8.bean.Bird">
        <property name="name" value="lisi"></property>
        <property name="age" value="19"></property>
    </bean>
</beans>